<h1>Listing traceroutes</h1>

<table>
  <thead>
    <tr>
      <th>server</th>
      <th>Local ip</th>
      <th>Traceroute Output</th>
      <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @traceroutes.each do |traceroute| %>
      <tr>
        <td><%= traceroute.server %></td>
        <td><%= traceroute.local_ip %></td>
        <td><%= simple_format(traceroute.stdout) %></td>
        <td><%= traceroute.timestamp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
